
.seat{
	margin-left: 2px;
	
}


.seat3{
	margin-top: 30px;
	margin-left: 65px;
	margin-right: -39px;
}


.seat4{
	margin-top: 30px;
	margin-left: -164px;
}

.seatBigLeft{
	margin-right: -230px;
}

.seatBigRight{
	margin-left: -230px;
}

.seat3d{
	margin-top: 30px;
	margin-right: -78px;
}

.seat4d{
	margin-top: 30px;
	margin-left: -317px;
}

.add1{
	margin-right: 30px;
}

.add2{
	margin-left: 330px;
}