<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>RestaurantManager</display-name>
  <servlet>
    <servlet-name>LogInServlet</servlet-name>
    <servlet-class>com.controller.LogInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogInServlet</servlet-name>
    <url-pattern>/LogInServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>crud_fclient</servlet-name>
    <servlet-class>com.controller.FidelityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>crud_fclient</servlet-name>
    <url-pattern>/crud_fclient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>crud_employer</servlet-name>
    <servlet-class>com.controller.EmployerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>crud_employer</servlet-name>
    <url-pattern>/crud_employer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>update_employee</servlet-name>
    <servlet-class>com.controller.UpdateEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update_employee</servlet-name>
    <url-pattern>/update_employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>crud_order</servlet-name>
    <servlet-class>com.controller.SmallTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>crud_order</servlet-name>
    <url-pattern>/crud_order</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>edit_order</servlet-name>
    <servlet-class>com.controller.EditOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>edit_order</servlet-name>
    <url-pattern>/edit_order</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>crud_history</servlet-name>
    <servlet-class>com.controller.IncomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>crud_history</servlet-name>
    <url-pattern>/crud_history</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>chef_ops</servlet-name>
    <servlet-class>com.controller.ChefPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chef_ops</servlet-name>
    <url-pattern>/chef_ops</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>assign_tables</servlet-name>
    <servlet-class>com.controller.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>assign_tables</servlet-name>
    <url-pattern>/assign_tables</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>edit_fidelitycard</servlet-name>
    <servlet-class>com.controller.EditFidelityCardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>edit_fidelitycard</servlet-name>
    <url-pattern>/edit_fidelitycard</url-pattern>
  </servlet-mapping>
</web-app>